.frage__timeline {
  margin-top: 100px;
  & li {
    list-style: none;
    & div {
      border-left: 1px solid red;
      width: 100%;
      height: 50px;
      padding-left: 50px;
      position: relative;
      top: -25px;
      & p {
        position: absolute;
        top: -25px;
      }
    }
    & div::before {
      display: inline-block;
      content: '';
      width: 10px;
      height: 10px;
      background: red;
      position: absolute;
      left: -5px;
      border-radius: 50%;
    }
  }
}
